.image-icon5 {
  width: 398px;
  position: relative;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 202px;
  object-fit: cover;
}
.estreno-titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.comedia-romantica,
.ranma-es-un1 {
  position: relative;
  font-size: var(--smallcard-extra-2-size);
}
.ranma-es-un1 {
  width: 287px;
  color: var(--gray-20);
  display: inline-block;
}
.comedia-romantica {
  color: var(--orange-50);
}
.temporada-1-disponible {
  position: relative;
  font-size: var(--normal-semibold-size);
  font-weight: 600;
  font-family: var(--normalroboto-regular);
  color: var(--gray-10);
}
.titulo-categoria {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.notifications-active-black-24d-icon {
  width: 28px;
  position: relative;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.avisarme {
  position: relative;
  font-weight: 600;
}
.avisar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--smallcard-extra-2-size);
  color: var(--orange-50);
}
.contenido1 {
  width: 382px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.image-contenido,
.premiere-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image-contenido {
  align-items: center;
  gap: var(--gap-5xs);
}
.premiere-card {
  border-radius: var(--br-9xs);
  background-color: var(--blue-50);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 0 var(--padding-base);
}
.avisarme1 {
  position: relative;
}
.avisar1,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--smallcard-extra-2-size);
}
.cards {
  position: absolute;
  top: 194px;
  left: 16px;
  height: 737px;
  overflow-y: auto;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-title-size);
}
.home41 {
  position: relative;
  font-weight: 500;
}
.home40 {
  width: 86px;
  background-color: var(--blue-50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.iconsolidsparkles {
  width: 28px;
  position: relative;
  height: 28px;
}
.app-bar4,
.home42 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home42 {
  width: 86px;
  background-color: var(--blue-50);
  flex-direction: column;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  color: var(--orange-50);
}
.app-bar4 {
  position: absolute;
  top: 870px;
  left: 0;
  box-shadow: 0-2px 4px rgba(54, 53, 53, 0.58);
  flex-direction: row;
}
.header-back-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-black);
}
.header-back4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 108px;
}
.name-header4,
.titulo8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titulo8 {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.name-header4 {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: var(--gray-50);
  width: 430px;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-base);
  box-sizing: border-box;
}
.categorys-carrussell,
.romantic-comedy-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.romantic-comedy-parent {
  flex-direction: row;
  gap: var(--gap-base);
}
.categorys-carrussell {
  position: absolute;
  top: 108px;
  left: 0;
  background-color: var(--gray-50);
  width: 430px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.estrenos {
  width: 100%;
  position: relative;
  background-color: var(--gray-50);
  height: 932px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--normal-semibold-size);
  color: var(--neutral-withe);
  font-family: var(--normal-semibold);
}
