.perfilcard-child {
  width: 84px;
  position: relative;
  border-radius: 50%;
  height: 84px;
  object-fit: cover;
}
.alexmaster {
  position: relative;
}
.perfilcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  cursor: pointer;
}
.ellipse-icon {
  width: 84px;
  position: relative;
  border-radius: 50%;
  height: 84px;
  object-fit: cover;
  cursor: pointer;
}
.perfilcard3 {
  gap: var(--gap-7xs);
}
.perfilcard3,
.perfiles1,
.que-estas-mirando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.perfiles1 {
  gap: var(--gap-base);
}
.que-estas-mirando {
  position: absolute;
  top: calc(50% - 296px);
  left: 164px;
}
.vector-icon {
  width: 32px;
  position: relative;
  height: 32px;
  display: none;
}
.masterseries {
  position: relative;
  font-weight: 600;
  background: linear-gradient(90deg, #ff7629, #7d3e1b 64.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logonormal {
  position: absolute;
  top: 12px;
  left: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.a,
.group-child,
.z {
  position: absolute;
  top: 0;
}
.group-child {
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff7629, #000 64%);
  width: 79.7px;
  height: 78.1px;
}
.a,
.z {
  display: inline-block;
  height: 85px;
}
.a {
  left: 16px;
  width: 53.1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.z {
  left: 0;
  color: var(--blue-50);
  width: 54.9px;
}
.a-parent,
.ellipse-parent {
  position: absolute;
  top: 9px;
  left: 18px;
  width: 69.1px;
  height: 85px;
}
.ellipse-parent {
  top: 0;
  left: 0;
  width: 87.1px;
  height: 94px;
  font-size: var(--font-size-28xl);
  font-family: var(--font-keania-one);
}
.logonormal-parent {
  position: absolute;
  top: 764px;
  left: 79px;
  width: 271px;
  height: 94px;
  font-size: 48px;
  color: var(--orange-50);
}
.border,
.cap-icon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 9.68%;
  bottom: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid var(--neutral-withe);
  box-sizing: border-box;
  opacity: 0.35;
}
.cap-icon {
  height: 35.4%;
  width: 5.38%;
  top: 32.74%;
  right: 0;
  bottom: 31.86%;
  left: 94.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 64.6%;
  width: 73.84%;
  top: 17.7%;
  right: 17.92%;
  bottom: 17.7%;
  left: 8.24%;
  border-radius: 1.33px;
  background-color: var(--neutral-withe);
}
.battery {
  position: absolute;
  height: 25.68%;
  width: 6.49%;
  top: 39.32%;
  right: 3.81%;
  bottom: 35%;
  left: 89.7%;
}
.wifi-icon {
  position: relative;
  width: 17.6px;
  height: 11px;
}
.cellular-connection-icon {
  position: relative;
  width: 19.5px;
  height: 10.7px;
}
.bars-status-bar-iphone-l {
  position: absolute;
  width: 100%;
  top: -2px;
  right: 0;
  left: 0;
  height: 44px;
}
.perfiles {
  width: 100%;
  position: relative;
  background-color: var(--gray-50);
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--normal-semibold-size);
  color: var(--blue-10);
  font-family: var(--normalroboto-regular);
}
